.header {
    color: $white;
    padding: 23px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;

    transition: all 0.3s ease 0s;

    &._sticky {
        background-color: $accent;
        padding: 10px 0;

        @media (min-width:1025px) {
            .header__logo svg {
                width: 150px;
                height: 70px;
            }

            .header__body {
                align-items: center;
            }
        }
    }

    // .header__container

    &__container {}

    // .header__body

    &__body {
        @media (min-width:1025px) {
            display: grid;
            grid-template-columns: 1fr 15vw 1fr;
            gap: 34px;
            align-items: end;
        }


        nav {

            @media (max-width:1440px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 12px;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;


            }
        }
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;

        @media (max-width:1024px) {
            display: none;
        }
    }

    &:not(._sticky) {

        .header__left,
        .header__right {
            padding-bottom: 10px;
            border-bottom: 1px solid $white;
            min-height: 61px;
        }
    }

    // .header__center

    &__center {
        @media (max-width:1024px) {
            display: flex;
            align-items: center;

            gap: 20px;
            justify-content: space-between;
        }
    }

    // .header__logo

    &__logo {
        width: fit-content;
        display: block;

        @media (min-width:1025px) {
            margin-inline: auto;
        }


        svg {
            width: 181px;
            height: 87px;

            transition: all 0.3s ease 0s;

            @media (max-width:1024px) {
                width: 84px;
                height: 40px;
            }
        }
    }

    // .header__burger

    &__burger {
        @media (min-width:1025px) {
            display: none;
        }

        display: block;
        width: 46px;
        height: 40px;
        position: relative;

        span { 
            background-color: $white;
            pointer-events: none;
            position: absolute;
            width: 26px;
            height: 1px;
            display: block;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            &:first-child {
                top: 12px;
            }

            &:last-child {
                top: calc(100% - 12px);
            }
        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 18px;

        nav {}

        @media (max-width:1024px) {
            display: none;
        }
    }

    ._btn {
        color: $white;

        @media (max-width:1440px) {
            font-size: 14px;
        }

        @media (max-width:1200px) {
            font-size: 12px;
        }
    }
}


.lang {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;

    margin-left: auto;
    text-transform: uppercase;

    @media (max-width:1440px) {
        font-size: 14px;
    }

    @media (max-width:1200px) {
        font-size: 12px;
    }

    span {
        color: $grey;
    }

    a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        border: 1px solid currentColor;
    }
}