.header {
    color: $white;
    padding: 23px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    transition: all 0.3s ease 0s;

    &._sticky {
        background-color: $accent;
        padding: 10px 0;

        @media (min-width:1025px) {
            .header__logo svg {
                width: 150px;
                height: 70px;
            }

            .header__body {
                align-items: center;
            }
        }
    }

    &._dark {
        button svg {
            stroke: $accent;
        }

        li[data-open=open] {
            color: $white;

            button svg {
                stroke: $white;
            }
        }

        li {
            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                }
            }
        }

        .header__burger span {
            background-color: $black;
        }
    }

    &._dark:not(._sticky) {
        color: $accent;

        .header__logo {

            svg,
            path {
                fill: $accent;
            }
        }

        ._btn {
            color: $accent;
            border-color: $accent;

            @media (max-width:1440px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 12px;
            }
        }
    }

    // .header__logo
    &__logo {

        svg,
        path {
            fill: $white;
        }
    }

    // .header__container
    &__container {}

    // .header__body
    &__body {
        @media (min-width:1025px) {
            display: grid;
            grid-template-columns: 1fr 15vw 1fr;
            gap: 34px;
            align-items: end;

            @media (max-width:1600px) {
                gap: 24px;
            }

            @media (max-width:1200px) {
                gap: 20px;
            }
        }

        nav {
            @media (max-width:1440px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 12px;
            }

            & > ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    gap: 5px;
                    white-space: nowrap;
                    position: relative;
                    transition: all 0.3s ease 0s;

                    @media (max-width:1600px) {
                        padding: 10px 7px;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            @include linkHover;
                        }
                    }

                    &[data-open="open"] {
                        @include linkHover;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 13px;
                        width: 13px;

                        @media (any-hover: hover) {
                            display: none;
                        }

                        @media (max-width:1200px) {
                            width: 10px;
                            height: 10px;
                        }

                        svg {
                            stroke: $white;
                            transition: all 0.3s ease 0s;
                        }
                    }

                    & > ul {
                        position: absolute;
                        top: calc(100% + 15px);
                        left: 0;
                        width: fit-content;
                        pointer-events: none;
                        height: 0;
                        opacity: 0;
                        padding-inline: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        background-color: $accent;

                        li {
                            white-space: nowrap;
                            text-align: left;
                            width: 100%;

                            a {
                                display: flex;
                                width: 100%;
                                padding: 10px 0;
                            }

                            &:not(:last-child) {
                                border-bottom: 1px solid $white;
                            }
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            top: -15px;
                            height: 15px;
                            width: 100%;
                        }
                    }
                }

                li[data-open="open"] {
                    background-color: $accent;

                    button {
                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    ul {
                        pointer-events: all;
                        height: auto;
                    }
                }
            }
        }
    }

    // .header__left
    &__left {
        display: flex;
        align-items: center;

        @media (max-width:1024px) {
            display: none;
        }
    }

    &:not(._sticky) {

        .header__left,
        .header__right {
            padding-bottom: 10px;
            border-bottom: 1px solid $white;
            min-height: 61px;
        }
    }

    // .header__center
    &__center {
        @media (max-width:1024px) {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }
    }

    // .header__logo
    &__logo {
        width: fit-content;
        display: block;

        @media (min-width:1025px) {
            margin-inline: auto;
        }

        svg {
            width: 181px;
            height: 87px;
            transition: all 0.3s ease 0s;

            @media (max-width:1200px) {
                width: 150px;
                height: 73px;
            }

            @media (max-width:1024px) {
                width: 84px;
                height: 40px;
            }
        }
    }

    // .header__burger
    &__burger {
        @media (min-width:1025px) {
            display: none;
        }

        display: block;
        width: 46px;
        height: 40px;
        position: relative;

        span {
            background-color: $white;
            pointer-events: none;
            position: absolute;
            width: 26px;
            height: 1px;
            display: block;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            &:first-child {
                top: 12px;
            }

            &:last-child {
                top: calc(100% - 12px);
            }
        }
    }

    // .header__right
    &__right {
        display: flex;
        align-items: center;
        gap: 18px;

        nav {}

        @media (max-width:1024px) {
            display: none;
        }
    }

    ._btn {
        color: $white;

        @media (any-hover: hover) {
            &:hover {
                background-color: $white;
                color: $black ;
                border-color: $white;
            }
        }

        @media (max-width:1440px) {
            font-size: 14px;
        }

        @media (max-width:1200px) {
            font-size: 12px;
        }
    }
}

.lang {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;

    @media (max-width:1440px) {
        font-size: 14px;
    }

    @media (max-width:1200px) {
        font-size: 12px;
    }

    a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        border: 1px solid currentColor;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $white;
                background-color: $accent;
            }
        }
    }

    .current-lang {
        color: $grey;
        order: -1;
    }
}

._sticky .lang a {
    @media (any-hover: hover) {
        &:hover {
            color: $black;
            background-color: $white;
        }
    }
}